:root {
    --dropdown-height-rems: 2;
}

.dropdown-box-style {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: var(--dropdown-height-rems)rem;
    background-image: linear-gradient(#fff, #eee);
    z-index: 0;
    text-align: center;
    user-select: none;
    width: inherit;
};


.selected-option-style {
    background-image: linear-gradient(#96-c-d-c-d,#668-b8-b);
    color: white;
};


.dropdown-parent-style {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    color: black;
};


.option-style {
    border-bottom: 1px solid black;
    width: inherit;
};


.final-option-style {
    border-bottom: none;
    width: inherit;
};


.dropdown-open-style {
    cursor: pointer;
    max-height: calc(20rem - 1px);
    overflow-y: scroll;
    width: inherit;
    transition: 0.65s cubic-bezier(1,.04,0,.97);
};


.dropdown-closed-style {
    cursor: pointer;
    max-height: var(--dropdown-height-rems)rem;
    overflow: hidden;
    width: inherit;
};


.dropdown-header-style {
    border-top: none;
    width: inherit;
};


.dropdown-end-node {
    border-top: 1px solid black;
    z-index: 1;
};


